@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


body{
    background-color: rgba(21, 90, 4, 0.555);
    background-image: url('matrix.jpg');
    font: normal 15pt Helvetica;

}  
header {
    color: rgb(255, 249, 249);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 20pt;
    /* margin: 20cm; */
}
label, input , textarea {
    background: rgba(255, 255, 255, 0.712);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin-left: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
    
}

footer {
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;

}
input:focus{
    background-color: rgb(31, 148, 50);
}
textarea:focus{
    background-color:rgb(31, 148, 50);
}
 button:hover{
    color: rgb(31, 148, 50);

} 
 .button {
    border: none;
    color: white;
    padding: 15px 32px; 
    border-radius: 10px;
    width: 520px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
     margin: 4px 2px; 
    cursor: pointer;
    background-color: #1f8530; 
  }
  

  .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
      
  }

 .botaum {
 padding-left: 33.5%;
 }

 .links {
     font: normal 13pt Helvetica;
     
 }